<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
	<a class="c-navigation__item {% if page.url == '/projects/' %}is-active{% endif %}" href="{{ "/projects" | prepend: site.baseurl }}">Projects</a>
	<a class="c-navigation__item {% if page.url == '/team/' %}is-active{% endif %}" href="{{ "/team/" | prepend: site.baseurl }}">Team</a>
	<a class="c-navigation__item {% if page.url == '/positions/' %}is-active{% endif %}" href="{{ "/positions/" | prepend: site.baseurl }}">Open Positions</a>
	<a class="c-navigation__item {% if page.url == '/ksg_engineers/' %}is-active{% endif %}" href="{{ "/ksg_engineers/" | prepend: site.baseurl }}">KSG for Engineers</a>
  </div>
</nav>
