<nav class="navbar navbar-expand-lg ksg-navbar sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/knowledge-systems/">
      <img src="/knowledge-systems/assets/images/dfci_logo.png" alt="Dana-Farber Cancer Institute" id="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/knowledge-systems/' or page.url == '/' %} active{% endif %}" href="/knowledge-systems/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url contains 'projects' %} active{% endif %}" href="/knowledge-systems/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url contains 'team' %} active{% endif %}" href="/knowledge-systems/team">Team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
